/*
    Header Items / Объекты заголовка
*/
.menu-container
{
    position: fixed;
    z-index: 999;

    width: 100%;
    height: 50px;

    background-color: rgba(224, 224, 209, 0.5);
    line-height: 22px;
}
.menu-container:hover
{
    background-color: rgba(224, 224, 209, 0.9);
}
.menu-container:hover li a
{
    color: #444;
	background-color: rgba(226, 160, 105, 0.9);
}
/*
    Класс для названия фирмы в левом углу меню
*/
/*.name
{
    float: left;
    height: 100%;
	background-color: rgba(226, 160, 105, 0.8);
    padding-left: 10px;
    padding-right: 10px;
}
.name p
{
	color: #555;
    text-align: center;
    text-indent: 0;

    font-family: "Century Gothic", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;

    line-height: 25px;
}*/
.menu
{
    width: 60%;
    float: right;
}

ul.buttons
{
    list-style: none;
}
ul.buttons li a
{
    display: block;
    width: 120px;

    float: right;
    padding: 0 20px;

	color: #555;
    line-height: 50px;
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;

	background-color: rgba(226, 160, 105, 0.8);
}
ul.buttons li a:hover
{
	background-color: rgba(199, 92, 92, 0.9);
        color: rgb(224, 224, 209);
}

/*
    Main Items / Объекты главной части
*/
.top-caption-container
{
    padding-top: 200px;

    width: 100%;
    height: 400px;

    text-align: center;
    background-color: rgba(224, 224, 209, 0.6);
}
.caption-container
{
    width: 100%;

    text-align: center;
}
.top-caption
{
    font-family: Arial, sans-serif;
	color: #444;
    font-size: 56px;
    line-height: 100px;
}
.caption
{
    font-family: Arial, sans-serif;
	color: #444;
    font-size: 50px;
    line-height: 240px;
}
.smallcaption
{
    font-family: "Trebuchet MS";
    color: #555;
    font-size: 30px;
    line-height: 40px;
}

#button-up-container
{
    display: none;
    opacity: 0.50;

    width: 100px;
    height: 100%;


    text-align: center;
    position: fixed;
    z-index: 998;
}
.button-up
{
    position: relative;
    top: 75%;

    width: 80px;
    height: 80px;
}

.lefttext
{
    float: left;
    margin: 40px 10px 40px 10px;

    width: 60%;
   
    text-align: left;
}

.righttext
{
    float: right;
    margin: 40px 10px 40px 10px;

    width: 58%;

    text-align: left;
}
.icon-border
{
    margin: 0 auto;

    width: 280px;
    height: 280px;

    border-radius: 50%;
    background-color: rgba(199, 92, 92, 1);
    text-align: center;
}
.lefticon-container
{
    float: left;
    margin: 40px 0 40px 0;

    width: 300px;

    text-align: center;
}
.righticon-container
{
    float: right;
    margin: 40px 0 40px 0;

    width: 280px;

    text-align: center;
}
@keyframes pulse
{
0%
{
    background: rgba(199, 92, 92, 1);
}
50%
{
	background: rgba(226, 160, 105, 1);
}
100%
{
    background: rgba(199, 92, 92, 1);
}
}
.icon-border:hover
{
    animation:pulse 3s infinite;
}
.icon
{
    margin-top: 20px;
    height: 240px;
    width: 240px;
}


/*
    Прайс-лист
*/
.price-container
{
    width: 100%;
    background-color: rgba(224, 224, 209, 0.5);
}
.price-left
{
    float: left;
    height: 400px;
    width: 33.3%;
    background-color: rgb(226, 160, 105);
    text-align: center;
}
.price-mid
{
    float: left;
    height: 400px;
    width: 33.4%;
    background-color: rgb(199, 92, 92);
    text-align: center;
}
.price-right
{
    float: left;
    height: 400px;
    width: 33.3%;
    background-color: rgb(226, 160, 105);
    text-align: center;
}
.price-left:hover, .price-mid:hover, .price-right:hover
{
    opacity: 0.90;
}
.price-left a, .price-mid a, .price-right a
{
    display: block;

    height: 100%;
    width: 100%;


	color: #555;
    line-height: 24px;
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
}
.price-left a:hover, .price-mid a:hover, .price-right a:hover
{
    color: rgb(224, 224, 209);;
}

.excel-icon
{
    margin-top: 120px;
    height: 100px;
    width: 100px;
}

/*
    Класс для прозрачных вставок
*/
.transparent
{
    width: 100%;
    height: 200px;
    
    background-color: rgba(224, 224, 209, 0.5);
}

/*
    Связаться
*/
.contact-container
{
    width: 100%;
}
.contact-email, .contact-phone, .contact-bank, .contact-adress
{
    float: left;

    width: 50%;

    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
	color: #555;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
}
.contact-email a
{
    margin-left: 10px;
    color: #333;
}
.contact-email a:hover
{
    margin-left: 10px;
    margin-top: 10px;
    color: rgb(199, 92, 92);
}
.blur
{
    width: 100%;
    height: 100%;

    background-color: rgba(224, 224, 209, 0.7);
}
.contact-email:hover, .contact-phone:hover, .contact-bank:hover, .contact-adress:hover
{
    background-position: center center;
    background-size: cover; 
}
.contact-email:hover
{
    background-image: url(../image/BG3.jpg);
}
.contact-phone:hover
{
    background-image: url(../image/BG4.jpg);
}
.contact-bank:hover
{
    background-image: url(../image/BG5.jpg);
}
.contact-adress:hover
{
    background-image: url(../image/BG6.jpg);
}
.contact-text
{
    float: left;
    margin-top: 40px;

    height: 160px;

    width: 100%;

    text-align: center;
}
.contact-icon-container
{
    float: left;
    margin-top: 40px;

    width: 100%;

    text-align: center;
}
.contact-icon
{
    height: 160px;
    width: 160px;
}
