#maintable
{
	z-index: 2;
	position: relative;
	opacity: 0.93;
	width: 900px; 
	background-color: rgb(226, 230, 228);
	border-collapse: separate;
	border-spacing: 25px;
}
   td
	{
	padding: 3%;
	} 
#lefticon 
{
	text-align:center;
	position: static;
	width:100%;
	heigth:100%;
}
#lefttd
{
	text-align:center;
	opacity: 0.90;
}
#fordiv
{
	padding: 24px;
	opacity: 0.90;
	width: 220px;
	height:220px;
	border-radius: 100%;
	background:rgb(207, 217, 208);
}
@keyframes pulse
{
0%
{
	background:rgb(207, 217, 208);
	opacity: 0.90;
}
50%
{
	background:rgb(83, 132, 162);
	opacity: 1;
}
100%
{
	background:rgb(207, 217, 208);
	opacity: 0.90;
}
}
#fordiv:hover
{
	animation:pulse 3s infinite;
}
#righttd
{
	position: static;
	text-align:center;
	border-radius: 100px;
	opacity: 0.93;
    background: transparent;
}
