/*
    Header Items / Объекты заголовка
*/

.menu-container
{
    position: fixed;
    z-index: 999;

    width: 100%;
    height: 3em; 

    background-color: rgba(68, 68, 68, 0.2);
}
.menu-container:hover
{
    background-color: rgba(68, 68, 68, 0.9);
}
.menu-container:hover li a
{
    background-color: rgba(199, 92, 92, 0.9);
}
/*
    Класс для названия фирмы в левом углу меню
*/
/*.name
{
    float: left;
    height: 100%;
	background-color: rgba(226, 160, 105, 0.8);
    padding-left: 10px;
    padding-right: 10px;
}
.name p
{
	color: #555;
    text-align: center;
    text-indent: 0;

    font-family: "Century Gothic", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;

    line-height: 25px;
}*/
.menu
{
    width: 40%;
    float: right;
}

ul.buttons
{
    list-style: none;
}
ul.buttons li a
{
    display: block;
    float: right;

    width: 33.3%;
    height: 2.666666666em;


    color: rgb(224, 224, 209);
    line-height: 2.66666666666666em;
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-size: 112.5%;
    font-style: normal;
    font-weight: bold;

    background-color: rgba(199, 92, 92, 0.6);
}
ul.buttons li a:hover
{
    background-color: rgba(226, 160, 105, 0.9);
    color: rgb(234, 234, 219);
}

/*
    Main Items / Объекты главной части
*/
.top-caption-container
{
    padding-top: 12.5em;

    width: 100%;
    height: 25em;

    text-align: center;
    background-color: rgba(68, 68, 68, 0.7);
}
.caption-container
{
    width: 100%;

    text-align: center;
}
.top-caption
{
    font-family: Arial, sans-serif;
    color: rgb(234, 234, 219);
    font-size: 260%;
    line-height: 2em; /*96px / 48px*/
    font-weight: 500;
}
.caption
{
    font-family: Arial, sans-serif;
	color: #444;
    font-size: 240%;
    line-height: 5em; /* 250px / 50px*/
    font-weight: 500;
}
.caption-white
{
    font-family: Arial, sans-serif;
    color: rgb(244, 244, 229);
    font-size: 240%;
    line-height: 5em; /* 250px / 50px*/
        font-weight: 500;
}
.smallcaption
{
    font-family: "Trebuchet MS";
	color: rgb(224, 224, 209);
    font-size: 120%; /* 30px / 16px*/
    line-height: 1.3333333333333; /* 40px / 30px*/
    font-weight: 100;
}

#button-up-container
{
    display: none;
    opacity: 0.50;

    width: 6.25em; /* 100px / 16px*/
    height: 100%;

    text-align: center;
    position: fixed;
    z-index: 998;
}
.button-up
{
    position: relative;
    top: 75%;

    width: 5em; /* 80px / 16px*/
    height: 5em;
}

.lefttext
{
    float: left;
    margin: 2.5em 1em 2.5em 1em;

    width: 60%;
   
    text-align: left;
}
.lefttext ul
{
    margin-top: 0.7em;
}
.lefttext ul li
{
    margin-left: 2em;
}

.righttext
{
    float: right;
    margin: 2.5em 1em 2.5em 1em;

    width: 60%;

    text-align: left;
}
.icon-border
{
    margin: 0 auto;

    height: 16em;
    width: 16em;

    border-radius: 50%;
    background-color: rgba(199, 92, 92, 1);
    text-align: center;
}
.lefticon-container
{
    float: left;
    margin: 2.5em 0 2.5em 0;

    width: 35%;

    text-align: center;
}
.righticon-container
{
    float: right;
    margin: 2.5em 0 2.5em 0;

    width: 35%;

    text-align: center;
}
@keyframes pulse
{
0%
{
    background: rgba(199, 92, 92, 1);
}
50%
{
	background: rgba(226, 160, 105, 1);
}
100%
{
    background: rgba(199, 92, 92, 1);
}
}
.icon-border:hover
{
    animation:pulse 3s infinite;
}
.icon
{
    margin-top: 1em;
    height: 14em;
    width: 14em;
}


/*
    Прайс-лист
*/
.price-container
{
    width: 100%;
    background-color: rgba(68, 68, 68, 0.7);
}
.price-left
{
    float: left;
    height: 25em;
    width: 33.3%;
    background-color: rgb(226, 160, 105);
    text-align: center;
}
.price-mid
{
    float: left;
    height: 25em;
    width: 33.4%;
    background-color: rgb(199, 92, 92);
    text-align: center;
}
.price-right
{
    float: left;
    height: 25em;
    width: 33.3%;
    background-color: rgb(226, 160, 105);
    text-align: center;
}
.price-left:hover, .price-mid:hover, .price-right:hover
{
    opacity: 0.90;
}
.price-left a, .price-mid a, .price-right a
{
    display: block;

    height: 100%;
    width: 100%;


    color: rgb(234, 234, 219);
    line-height: 1.5em;
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-size: 112.5%;
    font-style: normal;
    font-weight: 100;
}
.price-left a:hover, .price-mid a:hover, .price-right a:hover
{
    color: rgb(244, 244, 229);
}

.excel-icon
{
    margin-top: 7em;
    height: 6.25em;
    width: 6.25em;
}

/*
    Класс для прозрачных вставок
*/
.transparent
{
    width: 100%;
    height: 12.5em;
    
    background-color: rgba(68, 68, 68, 0.7);
}

/*
    Связаться
*/
.contact-container
{
    text-align: center;
}
.contact-email, .contact-phone, .contact-bank, .contact-adress
{
    float: left;

    width: 50%;

    font-family: "Trebuchet MS", Helvetica, Arial, sans-serif;
	color: #555;
    text-align: center;
    font-size: 112.5%;
    font-style: normal;
    font-weight: 100;
}

.contact-email a
{
    display: block;
    margin-top: 1em;

    color: rgb(234, 234, 219);
}
.contact-email a:hover
{
    color: rgb(199, 92, 92);
}
.blur
{
    border: solid 1em white;
    background-color: rgba(68, 68, 68, 0.7);
}
.contact-email, .contact-phone, .contact-bank, .contact-adress
{
    background-position: center center;
    background-size: cover; 
    color: rgb(234, 234, 219);
}
.contact-email
{
    background-image: url(../image/BG3.jpg);
}
.contact-phone
{
    background-image: url(../image/BG4.jpg);
}
.contact-bank
{
    background-image: url(../image/BG5.jpg);
}
.contact-adress
{
    background-image: url(../image/BG6.jpg);
}
.contact-text
{
    float: left;
    margin-top: 2em;
    margin-left: 5%;

    height: 10em;
    width: 90%;

    text-align: center;
}
.contact-text hr
{
    width: 50%;
    text-align: center;
    margin-bottom: 0.5em;
}
.contact-text p
{
    text-indent: 0;
}
.contact-icon-container
{
    float: left;
    margin-top: 2.5em;

    width: 100%;

    text-align: center;
}
.contact-icon
{
    height: 10em;
    width: 10em;
    margin: 0 auto;
}
