html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, 
a, address, img, table, tr, td, th, ul, li, ol, main, header, article, section, footer
{
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	border: 0;
	outline: 0;
	background: transparent;
}
table
{
    border-collapse: collapse;
    border-spacing: 0;	
}