#menu
{
    height: 50px;
    width: 100%;
	position: fixed;
    z-index: 999;
}
#toptable
{    
    background-color: rgba(19, 39, 52, 0.50);
    height: 50px;
    width: 100%;
    padding-left: 60%;
    padding-right: 10%;
}
#toptable:hover
{
	 background-color: rgba(89, 114, 126, 0.93);
}
#top_buttons
{
    height:50px;
    width:250px;
}
#top_buttons:hover
{
    background-color: rgba(19, 39, 52, 0.93);
}
#top_buttons a
{
	display: block;
    color: #FFFFFF;
	text-decoration: none;
    font: bolder small-caps 28px "Calibri";
}