#primary_nav_wrap
{
}
#primary_nav_wrap ul
{
	text-align: center;
	vertical-align: middle;
	z-index: 10;
	margin:-0.60%;
	margin-left:-1.5%;
    margin-right:auto;
	list-style:none;
	position:fixed;
	left:25%;
	float:left;
}
#primary_nav_wrap ul a
{
	width: 20%;
	height: 20%;
	position:relative;
	color:rgb(10, 13, 16);
	text-decoration:none;
	font-weight:700;
	font-size:110%;
	line-height:2.5;
}

#primary_nav_wrap ul li
{
	margin-left:-0.1%;
	width: 19%;
	height: 100%;
	margin-top:0%;
	position:relative;
	float:left;
}

#primary_nav_wrap ul li.current-menu-item
{
	opacity: 0.99;
	background:rgb(83, 132, 162);
}

#primary_nav_wrap ul li:hover
{
	opacity: 1;
	background:rgb(83, 132, 162);
}

#primary_nav_wrap ul ul
{

	opacity: 0.99;
	display:none;
	position:absolute;
	top:101%;
	left:-20%;
	width:139%;
	color:rgb(166, 176, 146);
	background:rgb(181, 208, 212);
	padding:0;
}

#primary_nav_wrap ul ul li
{
	float:none;
	width:100%;
	height:110%;
}

#primary_nav_wrap ul ul a
{
	line-height:2.5;
	padding:1.5% 1.2%;
}

#primary_nav_wrap ul ul ul
{
	top:0px;
	left:100%
}

#primary_nav_wrap ul li:hover > ul
{
	box-shadow: 0 0 50px rgb(83, 132, 162);
	display:block
}
ul.top
{
	opacity: 0.99;
	width:51.5%;
	height:9%;
	background:rgb(181, 208, 212);
	box-shadow: 0 0 50px rgb(83, 132, 162);
	border-bottom-left-radius: 3% 37%;
	border-bottom-right-radius: 3% 37%;
}